@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Product>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
	var selection = Umbraco.ContentAtRoot().FirstOrDefault()
        .ChildrenOfType("product")
        .Where(x => x.IsVisible());
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	    <a href="/">< back</a>
        <h1>@Model.Name()</h1>
        
        @Model.Value("content")
        
        <hr/>
        <h2>Other products</h2>
        <ul lass="list-group">
        	@foreach (var item in selection)
        	{
        		<li ass="list-group-item">
        			<a href="@item.Url()">@item.Name()</a>
        		</li>
        	}
        </ul>

    </div>
</body>
</html>