@using UmbracoRAG.Controllers
@model UmbracoRAG.Models.Forms.SearchFormViewModel
@using Markdig
@functions {
    public static HtmlString MarkdownToHtml(string markdown)
    {
        var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
        string html = Markdown.ToHtml(markdown, pipeline);
        return new HtmlString(html);
    }
}
@using (Html.BeginUmbracoForm<SearchFormController>(nameof(SearchFormController.Submit)))
{
    
    <h3>Ask your question:</h3>
    <textarea asp-for="UserMessage" class="form-control" rows="3"></textarea>
    <button type="submit" class="btn btn-primary mt-3 mb-3">Send</button>
    <br/>

    @if(ViewData["ModelResponse"]!=null) {
        <div style="border:1px solid #aaa" class="text-wrap p-3 mb-5">
            <h4>Response:</h4>
            @MarkdownToHtml(ViewData["ModelResponse"].ToString())
        </div>
    } else {

        <em class="mb-5">
            <strong>Sample prompt:</strong><br/>
            I need warm waterproof shoes to go on a hike, can you give a few recommendations? 
            Summarise the pros, cons and give the average rating with a summary of the rating.
        </em>
    }
}

